{% extends 'index.html' %}
{% load static i18n %}
{%  block content %}
<div class="container mt-4">
    <h2>Patient List</h2>

    <div class="card-deck">
        {% for patient in page_obj %}
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">{{ patient.first_name }} {{ patient.last_name }}</h5>
                    <p class="card-text">Status: {{ patient.get_status_display }}</p>
                    <p class="card-text">Admission Date: {{ patient.admission_date }}</p>
                    <p class="card-text">Attending Staff: {% for staff in patient.attending_staff.all %}{{ staff.first_name }} {{ staff.last_name }}, {% endfor %}</p>
                    <!-- Add more card content for additional patient attributes -->
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{%  endblock %}