{% extends 'base_list.html' %}
{% load static i18n %}
{% block list_header %}Lista de sensores{% endblock %}
{% block obj_content %}
    <div class="mx-2">
        <h6 class="card-title text-center">{{ obj.name }}</h6>
    </div>

    <div class="mx-2">
        <h6 class="font-weight-bold custom-item-title text-center">Fabricante</h6>
        <p class="custom-item-text text-center">{{ obj.manufacturer }}</p>
    </div>
    <div class="mx-2">
        <h6 class="font-weight-bold custom-item-title text-center">Variable</h6>
        <p class="custom-item-text text-center">{{ obj.variable.name }}</p>
    </div>
    <div>
        <a class="btn custom-btn p-0" href="{% url 'device:sensor_update' obj.pk %}">
            <img src="{% static 'images/monitoring/editar-21.png' %}" alt="Botón Imagen"
                 class="custom-btn-img">
        </a>
    </div>

{% endblock %}
{% block create_url %}{% url 'device:sensor_create' %}{% endblock %}

