{% extends 'base_list.html' %}
{% load static i18n %}
{% block list_header %}Personal{% endblock %}
{% block obj_content %}
    <div class="mx-2">
        <h6 class="card-title text-center"><a
                href="{% url 'staff:detail' obj.pk %}">{{ obj.first_name }} {{ obj.last_name }}</a></h6>
    </div>

    <div class="mx-2">
        <h6 class="font-weight-bold custom-item-title text-center">Fecha de contratación</h6>
        <p class="custom-item-text text-center">{{ obj.hire_date|date:"Y-m-d" }}</p>
    </div>
    <div>
        <h6 class="font-weight-bold custom-item-title text-center">Identificación</h6>
        <p class="custom-item-text text-center">{{ obj.identification }} </p>
    </div>
    <div>
        <h6 class="font-weight-bold custom-item-title text-center">Pacientes a cargo</h6>
        <p class="custom-item-text text-center">
            {% for patient in obj.staff_patient_set.all %}{{ patient.first_name }} {{ patient.last_name }}  <br>
            {% endfor %}
        </p>
    </div>
    <div>
        <a class="btn custom-btn p-0" href="{% url 'staff:update' obj.pk %}">
            <img src="{% static 'images/monitoring/editar-21.png' %}" alt="Botón Imagen"
                 class="custom-btn-img">
        </a>
    </div>

{% endblock %}
{% block create_url %}{% url 'staff:create' %}{% endblock %}