{% extends 'base_form.html' %}
{% load static i18n %}
{% block form_extra_info %}
    <div class="col-md-6">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" name="date_of_birth" value="{{ object.username }}" class="form-control"
                   disabled id="username">
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="full_name">{% trans 'Full name' %}</label>
            <input type="text" name="full_name" value="{{ object.first_name }}  {{ object.last_name }}"
                   class="form-control"
                   disabled id="full_name">
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="email">{% trans 'Email' %}</label>
            <input type="text" name="email" value="{{ object.email }}"
                   class="form-control"
                   disabled id="email">
        </div>
    </div>
{% endblock %}
{% block form_title %}{% trans 'User' %}{% endblock %}

